<div class='cointainer'>

  <div class='flex-row'>
    <!-- Heading -->
    <div class='d-flex justify-content-center'>
      <h1> Task Manager App </h1>
    </div>
    <div class='d-flex justify-content-center'>
      <p> This is a tool designed for note taking, organizing, task management, and archiving. </p>
    </div>
  </div>

  <!-- Display of random tasks-->
</div>


